
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.head{
    background: #000000;
    width: 100%;
}

.but{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b{
    overflow: hidden;
    position: relative;    
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    padding: 15px 30px;
    border: #fff 3px solid;
    border-radius: 20px;
    color: aliceblue;
    width: 160px;
    overflow: hidden;
    transition: 2s;
}

.b::before{
    content: "";
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width: 0%;
    background:aqua;
}


@keyframes go{
    100%{
        width: 100%;
    }
}

.b:hover{
    transform: scale(1.2);
    font-weight: bold;
}

.b:hover::before{
    animation: go 2s;
    z-index: -1;
}